.product-image-container,
.product_detail_img .product_img_top figure {
  overflow: hidden;
  border-radius: 8px;
  border: 1px solid rgb(111, 117, 49);
  position: relative;
  cursor: zoom-in;


  &:hover {
    .product-image,
    img {
      transform: scale(1.5);
    }
  }
}

.product-image,
.product_detail_img .product_img_top figure img {
  width: 100%;
  height: auto;
  display: block;
  transition: transform 0.3s ease;
  transform-origin: 0 0; /* Set the transform origin to the top-left corner */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  &:active {
    cursor: zoom-out;
  }
}



.product-details {
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid rgb(111, 117, 49);
 

  
}

.product-info-left {
  text-align: left;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: left;
  padding: 1rem;
  @media screen and (max-width: 768px) {
    padding: 1rem;
    
  }

  

  h6 {
    font-size: 1rem;
    font-weight: 400;
    text-align: left;
    @media screen and (max-width: 768px) {
     
      text-align: left;
      color: black;
      
    }

    span {
      color: #60A781;
    }
  }
  h5{
  font-weight: 200;
  font-size: 1rem;

 
}
h4{
  font-weight: 600;
  font-size: 1rem;
  span{
     color: #60A781;
    font-size: 1rem;
    margin-right: 1rem;
  }
 
 
}

  p {
    color: rgb(111, 117, 49);
  }
.btn{
  @media screen and (max-width: 768px) {
    width: 100%;
  }
}
  h3 {
    font-weight: 600;
    font-size: 1.1rem;
    color: rgb(111, 117, 49);
    @media screen {
      text-align: left;
      color: black;
      font-size: 1rem;
    }

    span {
      font-weight: 500;
      font-size: 1rem;
      border-bottom: 2px solid;
      color: black;
    }

    .product-cont {
      display: flex;
      flex-direction: column;
      justify-content: start;
      align-items: left;
      text-align: left;           
      }
      
      .btn-group {
        @media screen and (max-width: 768px) {
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          text-align: center;
          gap: 1rem;
          
        }
      }
      .btn1 {
        @media screen and (max-width: 768px) {
          width: 100%;
          margin-top: 1rem;

        }
      }
    }
  }


.product-info-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 1rem;


  > div {
    background-color: rgb(249, 249, 249);
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border: 1px solid rgb(111, 117, 49);
  }

  .icon {
    font-size: 3rem;
    background-color: rgb(111, 117, 49);
   color: #fff;
    border-radius: 50%;
    padding: 0 20px 0 20px;
    text-align: center;
  }

  h5 {
    font-size: 1rem;
  }

  p {
    font-size: 0.9rem;
    font-weight: 300;
  }
}

// Add media queries for responsiveness
@media (max-width: 767px) {
  .product-details,
  .product-info {
    padding: 15px;
  }
}

// Add more styles as needed
