@use "../../../../styles/variables" as v;
@use "../../../../styles/mixins" as m;

.top-menu {
    background-color:rgb(247, 247, 247) ;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 40px;
    font-size: 14px;



    .top-menu-left {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;

        align-items: center;
        ul{
            display: flex;
            justify-content: flex-start;
            align-items: center;
            padding: 0;
            margin: 0;
            gap: 1rem;
            li{
                list-style: none;
                font-weight: 500;
                &:hover {
                    color: v.$color1;
                }
            }
        }
        

        @media (min-width: 0) {
            display: none;
        }
    }

    .top-menu-right {
        ul {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            gap: 1rem;
            padding: 0;
            margin: 0;
       

            li {
                text-align: end;
                list-style: none;
                padding: 0;
                margin: 0;
             

                a {
                    margin: 0;
                    padding: 0;
                    text-decoration:none;
                    text-transform: uppercase; 
                    font-weight: 500;
                    &:hover {
                        color: v.$color1;
                    }
                }
            }
        }

        @media (min-width: 0) {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            font-size: 10px;

            a {
                margin: 0;
                padding: 0;
                text-decoration: none;
                
                

                &:hover {
                    color: v.$color1;
                }
            }
        }
    }

    // Media queries
    @media (min-width: 576px) {
        // SM (Small) screen styles
    }

    @media (min-width: 768px) {
        // MD (Medium) screen styles
    }

    @media (min-width: 992px) {
        // LG (Large) screen styles
        .top-menu-left {
            display: block;
        }
        .top-menu-right {
            flex: 1;
            font-size: 14px;
        }
    }

    @media (min-width: 1200px) {
        // XL (Extra Large) screen styles
    }
}

    
