@use "../../../../styles/variables" as v;
@use "../../../../styles/mixins" as m;

.top-menu {
    background-color: rgb(247, 247, 247);
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 40px;
    font-size: 14px;

    .top-menu-right,
    .top-menu-left {
        color: black;

        &:hover {
            color: rgb(111, 117, 49);
        }
    }

    .top-menu-left {
        display: flex;
     
    }

    .top-menu-right {
        display: flex;
        justify-content: flex-end;
        flex: 1;
    }

    // Küçük ekranlardan (min-width: 0) başlayarak XL ekranlara kadar artan media sorguları
    @media (min-width: 0) { // Küçük ekranlardan başlayarak
   
        .top-menu-left {
            display: flex;
          display: none;
        }
        .top-menu-right {
            display: flex;
            justify-content:center;
            align-items: center;
            font-size: 10px;

        }
    }

    @media (min-width: 576px) { // SM (Small) ekranlardan başlayarak
      
    }

    @media (min-width: 768px) { // MD (Medium) ekranlardan başlayarak
        
    }

    @media (min-width: 992px) { // LG (Large) ekranlardan başlayarak
        .top-menu {
            height: 40px;
            font-size: 14px;
            
        }
        .top-menu-left {
            display: flex;
          display: block;
        }
        .top-menu-right {
            display: flex;
            justify-content: flex-end;
            flex: 1;
            font-size: 14px;
        }
        
    }

    @media (min-width: 1200px) { // XL (Extra Large) ekranlardan başlayarak
        
    }
}

    
