@use "../../../styles/mixins" as m;
@use "../../../styles/variables" as v;

.error-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;

  .error-row {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 1rem;
    position: relative;
    width: 100%;
  }

  .error-content {
    padding: 300px;
    background-color: v.$color8;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;

    @media screen and (max-width: 768px) {
      padding: 100px;
    }

    .logo {
      max-width: 200px;
      margin-bottom: 10px;
      position: absolute;
      top: 5%;
      left: 0;
      right: 0;
      margin: 0 auto;
      @media screen and (max-width: 768px) {
       margin-top: -5rem;
      }

    }

    .error-image {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;

      @media screen and (max-width: 768px) {
        width: 100%;
      }
    }

    .error-info,
    .back-link {
      position: absolute;
      top: 80%;
      margin-top: 10px;

      @media screen and (max-width: 768px) {
        top: 70%;
      }
    }

    .error-info {
      left: 5%;
      font-size: 24px;

      @media screen and (max-width: 768px) {
        font-size: 18px;
        margin-top: 1rem;
        text-align: center;
      }

      span {
        color: red;
      }
    }

    .back-link {
      right: 5%;
      font-size: 26px;

      @media screen and (max-width: 768px) {
        font-size: 15px;
        margin-top: 2rem;
        right: 3%;
      }

      span {
        color: v.$color6;
      }
    }
  }
}
