@use "../../../../styles/variables" as v;
@use "../../../../styles/mixins" as m;

  .top-component {
 

  margin-top: -5rem;
    display: flex;
    justify-content: center;
    align-items: center;   
    background-color: rgba(255, 255, 255, 0.5);
    z-index: 1;
   
 
    @media screen and (max-width: 768px) {
        padding: 0 1rem;
        height: 100%;
        margin-top: 1rem;
    }

    @media screen and (max-width: 1024px) {
        padding: 0 1rem;
        height: 100%;
        margin-top: 1rem;
    }


.home-page-info {
  justify-content: center;
  align-items: center;



  border: 1px solid v.$color1;

  background-color: white;
  z-index: 10;
  border-radius: 10px;

  span {
    color: v.$color1;
    font-size: 16px;
    font-weight: bold;
  }

  p {
    font-size: 14px;
  }

  .info-middle {
    border-left: 1px solid v.$color1;
    border-right: 1px solid v.$color1;
    margin: 15px 0;
@media screen and (max-width: 768px) {
 
  border-top: 1px solid v.$color1;
  border-bottom: 1px solid v.$color1;
  border-left:none;
  border-right:none;
}


  }

  .info-col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
   padding:0  15px;
   gap: 1rem;
   @media screen and (max-width: 768px) {
    padding: 15px 0;
    
   }

    &:hover {
      cursor: pointer;
      transition: cursor 0.3s ease;
    }
  }

  .icon-div {
    padding: 14px;
    background-color: rgb(232, 232, 227);
    border-radius: 5px;
    line-height: 1;

    &:hover {
      background-color: v.$color1;

      .icon {
        transform: rotateY(180deg);
        color: white;
      }
    }
  }

  .icon {
    color: gray;
    transition: transform 0.5s ease;
  }
}
}