.populer-item-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1;

  border-radius: 10px;
}

.populer-item-card {

  border: 1px solid rgb(111, 117, 49);
 
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

}
.card-top{
  position: relative;

  max-width: 150px;
  min-height: 150px;

}

.populer-item-img {
  width: 100%;
}
.populer-item-sale-title {
  position: absolute;
  top: 5px;
  right: 5px;
  z-index: 15;
  background-color: #e30514;
  font-size: 13px;
  padding: 2px 5px 2px 15px;
  color: white;
  font-weight: 600;
  border-radius: 0.3rem;
  text-align: center;
  white-space: nowrap;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%, 20% 50%);
}



.populer-item-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.1rem;
  margin-top: -3rem;
}

.populer-item-btn {
  background: white;
  color: rgb(111, 117, 49);
  display: inline-block;
  text-decoration: none;
  transition: all 0.5s ease-in-out 1s;
  opacity: 0; /* Initially hidden */
  transform: translateY(100%); /* Move up by the height of the container */


}

.populer-item-card:hover .populer-item-btn {
  opacity: 1; /* Make the title visible on hover */
  transform: translateY(0); /* Reset the position on hover */
  background-color: rgb(111, 117, 49);
 
}

.popular-item-btn {
  -webkit-transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
  -moz-transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
  -ms-transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
  -o-transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
}
.card-bottom {
  max-width: 150px;
  min-height: 175px;
  display: flex;
  flex-direction: column;
  justify-content:space-around; /* Apply space-between vertically */

.populer-item-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around; /* Align content at the bottom */
  
}

.populer-item-content h3 {
  font-size: 0.9rem;
  text-align: center;
  text-transform: uppercase;
  color: rgb(111, 117, 49);

}
.populer-item-price {
  font-size: 16px;
  font-weight: 600;
  color: rgb(111, 117, 49);


}

.populer-item-oldprice {
  font-size: 14px;
  text-decoration: line-through;
  color: gray;
  padding-left: 5px;
  font-weight: 300;

}

}




