.bottom-footer {
  width: 100%;
  background-color: rgb(111, 117, 49);
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;

  .copyright {
    display: flex;
    font-size: 0.7rem;
    align-items: center;
    text-align: left;
  }

  .payment-icon {
    display: flex;
    justify-content: flex-end; /* Change from end to flex-end */
    align-items: center;
    text-align: right;
    
    ul {
      margin-top: 10px;
      list-style-type: none;
      display: flex;
      align-items: center;
      justify-content: center;
      .payment-icon li {
       
        display: flex;
        align-items: center;
        justify-content: center;
    
      }
    }
  }

  
}

  