@use "../../../styles/variables" as v;
@use "../../../styles/mixins" as m;


  .recover-password-row{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    .recover-password-col {
        border: 1px solid v.$color1;
     
        padding: 4rem 3rem;
        
    }
  }