
@use "../../../styles/variables" as v;
@use "../../../styles/mixins" as m;



.scroll-selected {

   
 

  .custom-select

  {
  border-color: white;
  border-radius: 5px;
   width: 40px;
    height: 40px;
 background-color: v.$color1;
    
  }



}