@use "../../../styles/variables" as v;
@use "../../../styles/mixins" as m;

.section-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    text-align: center;

    h2 {
        font-weight: bold;
        font-size: 2rem;
      
       color: v.$color1;
        text-transform:capitalize;

        span {
            font-weight: 800;
        }
        
    }
    p{
        font-size: 1.2rem;
        color: v.$color1;
        text-transform:capitalize;
      

    }
        

   
}
