

$breakpoint: 576px;

.slider {
    .swiper-wrapper {
        .swiper-slide {
            position: relative;

            &::after {
                content: "";
                position: absolute;
                inset: 0;
               
                width: 100%;
                height: 50vh;
                opacity: 0.3;
                
            }

            img {
                object-fit: cover;
                width: 100%;
                height: 60vh;
            }
            

            .content {
               
                position: absolute;
                top: 25%;
                left: 25%;
                transform: translate(-50%);
                text-align: left;
                z-index: 5;
              

                h2 {
                   
                    font-size: 3rem;
                  
                   
                }
                p{
                    color:white;
                    font-size: 2rem;
                   
                }
                .btn {
            width: 100px;
                padding: 10px;
                display: flex-start;
                  &:hover{
                    background-color: red;
                  }
                  
                }
            }
            
        }
    }

    .swiper-button-prev,
    .swiper-button-next {
        display: none;
      
    }

    @media (max-width: $breakpoint) {
        .swiper-wrapper {
            .swiper-slide {
                img {
                    object-fit: cover;
                    width: 100%;
                    height: 40vh;
                }
    
                .content {
                    padding-left:3rem;
                    h2 {
                        font-size: 1rem;
                     
                    }
                   

                    p {
                        font-size: 0.8rem;
                    }
                }
            }
        }
    }
    @media (min-width: $breakpoint) and (max-width: 1200px) {
        .swiper-wrapper {
            .swiper-slide {
                img {
                    object-fit: cover;
                    width: 100%;
                    height: 40vh;
                }
    
                .content {
                    padding-left:1rem;
                    h2 {
                        font-size: 1.5rem;
                     
                    }
                   

                    p {
                        font-size: 0.8rem;
                    }
                }
            }
        }
    }
}
