@use "../../../styles/variables" as v;
@use "../../../styles/mixins" as m;

.confidentiality {
    margin-top: 20px;
  }
  
  .content-main-title {
    text-align: center;
    margin-bottom: 20px;
  
    h2 {
   font-size: 1.5rem;
   margin-bottom: 10px;
   color: #343a40;
   font-weight: 600;
    }
  }
  
  .rule-wrap {
    ul {
      list-style-type: none;
  
      p {
        margin-bottom: 15px;
        color: #343537;
        font-size: 0.9em;
        line-height: 1.6;
  
        strong {
          display: block;
          font-size: 1.2em;
          margin-bottom: 10px;
          color: #343a40;
        }
  
        em {
          font-style: italic;
        }
      }
    }
  }
  